@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* the main color for a background */
    --color-main-fill: #f1f5f9;
    --color-sidebar-fill: #e2e8f0;
    --color-text-base: #0f1729;
  }
  /* Clear out the up and down buttoms on a number input */
  /* https://stackoverflow.com/questions/72789466/remove-the-up-down-increment-decrement-buttons-on-number-inputs-using-css */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .grid-item-border {
    @apply rounded-lg border border-slate-200 px-4 py-6 shadow-md;
  }

  /* .theme-dark {
  } */

  /* .avatar-span > svg {
    width: 1.5rem;
    height: 1.5rem;
  } */
}
